.hero{
    width: 100%;
    height: 85vh; 
    position: relative;
    color: #fff;
    text-transform: uppercase;
}

.hero-image{
    width: 100%;
    height: 85vh;
    position: absolute;
    z-index: -1;
}
.hero-image img{
    width: 100%;
    height: 100%;
}

.hero-image::before,
.hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 3.6), transparent); /* Adjust the opacity of the gradient */
}

.hero-image::before {
  left: 0;
  
   
}

.hero-image::after {
  left: 0;
  width: 100%; /* Make the bottom-left corner fully dark */
}

.hero-text{
    width: 450px;
    justify-content: center;
    padding-left: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-genre p{
    color: #C32120;
    font-size: 16px
}

.hero-movieName{
    font-size: 30px;
}

.hero-text-bottom{
  display: flex;
  gap: 20px;
}

.hero-pg{
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 12px;
}