.comingSoon{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;

}

.comingSoon h1{
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid red;
    width: 170px;
    padding-bottom: 10px;
}

.comingSoon-movies{
    /* display: flex;
    gap: 15px;*/
    padding-top: 20px; 
    
}

.comingSoon-movieBox{
    padding: 0 20px;
}

.cs-mb-image{
    position: relative;
}
.cs-mb-image img{
    width: 200px;
    height: 300px;
    object-fit:cover;
}

.cs-mb-image p{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: #fff;
    font-size: 13px;
    padding: 2px 7px;
}

@media (max-width:1200px) {
    .comingSoon{
        width: 97%;
    }
}

@media (max-width:866px) {
    .comingSoon-movies {
        padding: 20px 10px;
        
    }

}

@media (max-width:652px) {
    .cs-mb-image img{
        width: 150px;
        height: 250px;
    }
    
    .cs-mb-image p{
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: black;
        color: #fff;
        font-size: 13px !important;
        padding: 2px 7px;
    }

    .comingSoon-movieBox p {
        font-size: 14px;
        
    }
}

